* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: rgb(36, 41, 36);
  --dark-green: rgb(30, 48, 30);
  --green: rgb(47, 75, 47);
  --light-green: rgb(93, 135, 93);
  --bright-green: rgb(123, 204, 123);
  --white: rgb(244, 241, 237);
  --off-white: rgb(222, 211, 199);
  --off-white2:rgb(230, 205, 178);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrolling {
  overflow: hidden;
}

a {
  transition: 0.2s;
}